*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

.repl_history
build
tags
resources/*.nib
resources/*.momd
resources/*.xcdatamodeld
resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
*.dat*
vendor/*/build-*
vendor/Pods/*

# YARD artifacts
.yardoc
_yardoc
doc/
rm_spec_output